* {
    font-family: 'Heebo', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
}

.smallHeader {
    font-family: 'Koulen', cursive;
    font-size: 60px;
    text-align: center;
    width: 100%;
}

/* Landing */

#landing {
    background-color: #FF5714;
    width: 100%;
    min-height: 100vh;
    color: white;
}

#landingHeader, #landingDate {
    padding-left: 20%;
    padding-right: 25%;
}

#landingHeader {
    padding-top: 200px;
    line-height: 124px;
    font-size: 170px;
    font-family: 'Koulen', cursive;
}

#landingDate {
    font-size: 40px;
}

/* Intro */

#intro {
    width: 100%;
    background-color: #FF5714;
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
}

#introBox {
    margin-left: 15%;
    padding: 40px;
    background-color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#introBox > div {
    padding-right: 10%;
    padding-left: 10%;
}

#introDateLocation {
    font-family: 'Koulen', cursive;
    font-size: 25px;
}

#introDescription {
    margin-top: 30px;
}

/* Sponsors */

#sponsors {
    width: 100%;
    background-color: #FF5714;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

#sponsorHeader {
    background-color: #FF5714;
    color: white;
}

#sponsorsLogos {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 200px;
}

.logo {
    padding: 30px;
}

/* Films */

#filmsHeader {
    padding-top: 100px;
}

#films {
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
}

.film {
    width: 33.3333%;
    margin-bottom: 70px;
}

.filmTitle {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.poster {
    display: flex;
    justify-content: center;
    height: 410px;
    padding-left: 30px;
    padding-right: 30px;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

footer * {
    color: white;
    font-family: 'Koulen', cursive;
    letter-spacing: .2rem;
}

#festivalLogo {
    width: 50%;
}

#festivalLogo img {
    width: 200px;
    padding-top: 50px;
    padding-left: 50px;
}

#newsletter {
    width: 50%;
    padding-top: 50px;
}

#newsletterInputContainer {
    display: flex;
    flex-wrap: wrap;
}

#newsletterInput {
    width: 300px;
    margin-right: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px white solid;
    border-radius: 5px;
    align-items: center;
}

#newsletterButton {
    background-color: white;
    color: black;
    padding: 20px;
    cursor: pointer;
    transition: .3s ease-in;
    align-self: center;
    border-radius: 2px;
    width: 110px;
    text-align: center;
}

.newsletterButtonHover:hover {
    background-color:  #FF5714;
    color: white;
}

#legal {
    width: 100%;
    padding-left: 55px;
    padding-top: 100px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 2000px) {
    #films {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1700px) {
    #films {
        margin-left: 15%;
        margin-right: 15%;
    }

    #landingHeader {
        font-size: 140px;
    }
}

@media only screen and (max-width: 1400px) {
    #films {
        margin-left: 6%;
        margin-right: 6%;
    }

    #landingHeader {
        font-size: 120px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    #films {
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 50px;
    }

    #landingHeader {
        font-size: 100px;
    }

    #landingHeader, #landingDate {
        padding-left: 10%;
        padding-right: 15%;
    }

    #festivalLogo {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    #films {
        margin-left: 0%;
        margin-right: 0%;
    }

    .film {
        width: 50%;
    }

    #sponsorsLogos {
        flex-flow: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #festivalLogo {
        width: 100%;
    }

    #newsletter {
        margin: auto;
    }

    #newsletterInputContainer {
        flex-wrap: inherit;
    }

    #newsletterButton {
        width: 50%;
        text-align: center;
    }

    #legal {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #films {
        margin-left: 5%;
        margin-right: 5%;
    }

    .film {
        width: 100%;
    }

    #landingHeader {
        font-size: 50px;
        line-height: 60px;
    }

    #landingDate {
        font-size: 30px;
    }

    #landingHeader, #landingDate {
        padding-left: 10%;
        padding-right: 15%;
    }

    #intro {
        padding-top: 0;
        padding-bottom: 100px;
    }

    #introBox {
        margin-left: 0;
        padding: 60px;
        padding-left: 0;
        padding-right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .logo img {
        max-width: 100%;
    }

    .smallHeader {
        line-height: 54px;
    }

    #sponsorHeader {
        padding-bottom: 30px;
    }

    #sponsors {
        padding-bottom: 70px;
    }

    #newsletter {
        width: 75%;
    }

    #newsletterInputContainer {
        flex-wrap: wrap;
    }

    #newsletterInput {
        margin: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .film {
        width: 100%;
    }

    #landingHeader {
        font-size: 50px;
        line-height: 60px;
    }

    #landingDate {
        font-size: 30px;
    }

    #landingHeader, #landingDate {
        padding-left: 5%;
        padding-right: 5%;
    }
}
