* {
    font-family: 'Heebo', sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.smallHeader {
    font-family: 'Koulen', cursive;
    font-size: 60px;
    text-align: center;
    width: 100%;
}

/* Landing */

#landing {
    background-color: #FF5714;
    width: 100%;
    height: 100vh;
    color: white;
}

#landingHeader, #landingDate {
    padding-left: 20%;
    padding-right: 25%;
}

#landingHeader {
    padding-top: 200px;
    line-height: 124px;
    font-size: 170px;
    font-family: 'Koulen', cursive;
}

#landingDate {
    font-size: 40px;
}

/* Intro */

#intro {
    width: 100%;
    background-color: #FF5714;
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
}

#introBox {
    margin-left: 20%;
    margin-right: 20%;
    padding: 40px;
    background-color: black;
}

#introDateLocation {
    font-family: 'Koulen', cursive;
    font-size: 25px;
}

#introDescription {
    margin-top: 30px;
}

/* Sponsors */

#sponsors {
    width: 100%;
    background-color: #FF5714;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

#sponsorHeader {
    background-color: #FF5714;
    color: white;
}

#sponsorsLogos {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 200px;
}

.logo {
    padding: 30px;
}

/* Films */

#filmsHeader {
    padding-top: 100px;
}

#films {
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
}

.film {
    width: 33.3333%;
    margin-bottom: 70px;
}

.filmTitle {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.poster {
    display: flex;
    justify-content: center;
    height: 410px;
}

.poster img {
    width: 75%;
}
